table{
    width: 100%;
    border-collapse: collapse;
}
table, td{
    text-align: center;
    vertical-align: middle;
    padding: 8px;
    border: 1px solid maroon;
    color: maroon;
}
th{
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    padding: 8px;
}
h2{
    text-align: center;
    color: maroon;
}
body{
    background-color: beige;
}
img {
    width: 500px;
    height: 150px;
    display: block;
    margin: auto;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}


